.custominfo-container {
  box-sizing: border-box;
  width: auto;
  height: auto;
  display: flex;
  border: none;

}

.custominfo-inner {
  position: relative;
  background: #fff;
  width: auto;
  min-width: 120px;
  height: auto;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
  box-shadow: 1px 1px 4px 0px #555555;
  z-index: 2;
}

.custominfo-inner::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 6px 0 7px;
  border-color: #FFF transparent transparent transparent; /* 수정된 부분 */
  display: block;
  width: 0;
  z-index: 2;
  bottom: -10px;
  left: 24px;
}
.custominfo-inner::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 11px 6px 0 7.5px;
  border-color: #666 transparent transparent transparent; /* 수정된 부분 */
  display: block;
  width: 0;
  z-index: 2;
  bottom: -11.3px;
  left: 24px;
}
.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.desc {
  font-size: 11px;
}
.tel {
  font-size: 11px;
  color: #aaa;
}